@tailwind base;
@tailwind components;
@tailwind utilities;


.cropper-container {
    direction: ltr;
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cropper-view-box {
    display: block;
    height: 100%;
    outline: 1px solid #39f;
    outline-color: var(--p);
    overflow: hidden;
    width: 100%;
}
